<div id='footer'>
    <div class="link">
        <a target="_blank" href="https://www.zhihu.com/people/lin-wei-kun-14/activities" class="iconfont icon-matuwang-zhihufangxingdianji"></a>
        <a target="_blank" href="https://github.com/lwk520" class="iconfont icon-github"></a>
        <a target="_blank" href="http://www.jianshu.com/u/5404fe848e31" class="iconfont icon-jian"></a>
    </div>
</div>
</body>

</html>