<div id='footer'>
    <div class="link">
        <a href="" class="iconfont icon-matuwang-zhihufangxingdianji"></a>
        <a href="" class="iconfont icon-github"></a>
        <a href="" class="iconfont icon-jian"></a>
    </div>
</div>
</body>

</html>